# Qwen-Turbo (阿里云百炼)
QWEN_TURBO_API_KEY=
QWEN_TURBO_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# GPT-5-Mini (假设配置)
GPT5_MINI_API_KEY=
GPT5_MINI_BASE_URL=https://api.cursorai.art/v1

# DeepSeek-V3.2
DEEPSEEK_V3_2_API_KEY=
DEEPSEEK_V3_2_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# 并发线程数
MAX_WORKERS=15


# OPENAI_API_KEY=
# OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1